nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #414141;
  color: #e3e3e3;
}

.nav-link {
  padding: 15px 10px;
  background: #414141;
}

.router-link-active {
  background: #000;
}
